*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    height: 60px;
    width: 1500px;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-evenly;

}
.navbar p{
    font-size: 24px;
    color: #12141D;
    font-weight: 800;
    margin-left: -100px;
    cursor:pointer;
}

#st{
    font-size: 1rem;
    font-weight: 600;
    margin-right: -800px;     
}
.navbar a{
    cursor:pointer;
    font-size: 1rem;
    text-decoration:none;
    color:black;
    
}

.options{
    margin-left: -150px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding:1 rem;
    width:500px;
    border-color: gray;
}

a:hover{
   color:#3D8361;
}
.navbar button{
    font-size: 1.2rem;
    color:white;
    height:50px;
    width:140px;
    border-radius: 4px;
    border:1px solid black;
    background-color:#3D8361;
    cursor: pointer;
}

.box1{
    height: 770px;
    width: 700px;
    border: 1px solid transparentl

}

.p1{
    height: 275px;
    width: 200x;
    font-size: 50px;
    color: #12141D;
    margin-left: 100px;
    padding-top: 60px;
    font-weight:1000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.p2{
    margin-top: -70px;
    height: 80px;
    width: 500px;
    font-size: 18px;
    color: #12141D;
    margin-left: 100px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.box1 button{
    height:60px;
    width:230px;
    border-radius: 4px;
    border:1px solid transparent;
    background-color:#3D8361;
    font-size: 1.2rem;
    color:white;
    margin-left: 100px;
    cursor:pointer;
}

.box1 button i{
    color:white;
    margin-left: 10px;
    font-size: 1.2rem;
}

.main-{
    display:flex;
    align-items:center;
}

.box2{
    margin-top:-10rem;
    border:1px solid transparent;
    height:480px;
    width:450px;
    margin-left: 100px;
}
.box2 img{
    height:480px;
    width:500px;
    border-radius: 5px;
    border: 1px solid transparent;
}

.bar{

    margin-left: 200px;
    height:220px;
    margin-top: -50px;
    width:1100px;
    background-color:rgb(61, 131, 97);
    border-radius: 10px;
    display: flex;

}

.frame{
    color:white;
    border: 2px solid transparent;
    align-items: center;
    text-align: center;
    padding: 1rem;
    margin:20px ;
    margin-left: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.frame h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 1rem;
}

.frame p{
    
    color:white;
    font-size: 1rem;
    font-weight: 700;
}


.bar2{
    margin-top: 4rem;
    height: 500px;
    width:100%;
    border:1px solid transparent;
    align-items: center;
    justify-content: center;
}

.bar2 h1{
    font-size: 3rem;
    text-align: center;
}

.cont{
    margin: 2.5rem;
    height:270px;
    width:60%;
    padding: 2rem;
    margin-left: 250px;
    border: 1px solid transparent;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.box{
    height:100px;
    width:400px;
    border: 1px solid transparent;
    display:flex;
    flex-wrap: wrap;
    padding: 1rem;
    margin-left: 1rem;

}



.box img{
    height:50px;
    width:50px;
}

.box h2{
    padding-left: 10px;
    font-size: 1.2rem;
}
.box p{
    margin-top: -30px;
    margin-left: 60px;
    font-weight: lighter;
}
button{
    font-size: 1rem;
    color:white;
    height:50px;
    width:200px;
    font-weight:600;
    border-radius: 4px;
    border:1px solid transparent;
    background-color:#3D8361;
    cursor: pointer;
}

#stay{
    margin-top: -400px;
    margin-left: 600px;
}

.bar3{
    height:1000px;
    width:100%;
    border:1px solid transparent;
    margin-top:50px;
    align-items: center;
    justify-content: center;
}

.bar3 h1{
    margin-top:30px;
    font-size: 3rem;
    text-align: center;
    
}
.conts{
    border:1px solid transparent;
    height:500px;
    width:100%;
    display:flex;
    flex-wrap: wrap;
    padding: 3rem;
    gap:2rem;
}
.box4{
    height:150px;
    width:300px;
    border: 1px solid rgb(214, 208, 208);
    display:flex;
    flex-wrap: wrap;
    padding: 1rem;
    border-radius: 1rem;
}

.box4 img{
    height:40px;
    width:40px;
    margin-right: 5px;
    border-radius: 50%;
    border:1px solid transparent;
}

.box4 h2{
    font-size: 1rem;
}
#map{
    height: 30px;
    width: 25px;
    margin-top: -80px;
    margin-left: 80px;
    border-radius: 50%;
}
#name{
    color:grey;
    margin-top: -56px;
    margin-left: 45px;
}

.box4 p{
    margin-top: -60px;
}

#join{
    align-items: center;
    justify-content: center;
    margin-left: 40%;
}

.frame-details{
    margin-top: -20rem;
    border: 2px solid transparent;
    height: 550px;
    align-items: center;
    padding: 1rem;
    display: flex;
}

.frame-details img{
    height: 400px;
    width:600px;
    border: 2px solid transparent;
    border-radius: 0.8rem;
    margin-left: 200px;
    background-size: cover;
}

.contents{
    margin-left: 150px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.contents h2{
    margin-left: -70px;
    margin-top: -80px;
    font-size: 2.5rem;
    margin-bottom:2rem;
    font-weight: 900;
    row-gap: 0.5rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#msg-p1{
    margin-top: 25px;
    font-size: 1rem;
    margin-left: -140px;
    opacity: 0.8;
}
.feat{
    margin-left: 20px;
    height:100px;
    width:400px;
    display: flex;
    flex-wrap: wrap;
}
.feat h3{
    margin-left: 10px;
}
#msg-p{
    margin-top: -30px;
    font-size: 1rem;
    margin-left: -30px;
    opacity: 0.8;
}
.feat img{
    margin-top: -10px;
    margin-left: -100px;
    height:50px;
    width:50px;
}


.contents p{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    font-stretch: semi-expanded;
}

.frame-detail{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 3rem;
    border: 2px solid transparent;
    height: 500px;
    align-items: center;
    padding: 1rem;
    display: flex;
}

.frame-detail img{
    height: 400px;
    width:600px;
    border: 2px solid rgb(244, 240, 240);
    border-radius: 0.8rem;
    margin-left: 100px;
    background-size: cover;
}

.content{
    margin-left: 150px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black
}

.content h2{
    font-size: 2.5rem;
    margin-bottom:2rem;
    font-weight: 900;
    row-gap: 0.5rem;
}

.content p{
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 1rem;
    font-stretch: semi-expanded;
}
#learn{
    margin-top: 10px;
    width: 55%;
}
.bar--{
    
    height: 600px;
    width: 100%;
    border: 1px solid transparent;
    background-color: #fcfcf7;
    /* background-image: url('images/bg-1.jpeg');
    background-size: 10%; */
    padding: 2rem;
    display: flex;
    gap:2rem;
    align-items: center;

  
}

.frame-1{
    padding: 4rem;
    height:500px;
    width:500px;
    border: 1px solid transparent;
}

#l-1{
    font-size: 1rem;
    font-weight: 600;
}

.frame-1 h1{
    margin-top: 10px;
    text-align: left;
    font-size: 3.5rem;
    margin-bottom:10px;
}

#detl{
    margin-top: 0;
    margin-bottom: 20px;
}
.frame-1 p{
    margin-top: 0.8rem;
    padding-top: 0.7rem;
    font-stretch: extra-expanded;

}



.frame-2{

    padding:4rem;
    height:400px;
    width:480px;
    padding-top:-2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
}

.frame-2 p{
    padding-top: 0.5rem;
    color:rgb(14, 13, 13);
    padding-bottom: 0.8rem;
 }

#entry{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding: 0.2rem;
    padding-left:10px;
    color: grey;
    font-size: 1rem;
    border: 1px solid gray;

}

.frame-2 input{
    width: 25px;
    height: 40px;
    border-radius: 5px;
    color: grey;

    border: 1px solid gray;
}
#check{
    margin-top: 10px;
}
#jul{
    margin-top: -2.5rem;
    margin-left:40px;
}
#entry{
    border: 2px solid rgb(226, 211, 211);
    width: 98%;
}
 #entry-msg{
    border: 2px solid rgb(226, 211, 211);
    height:100px;
    width: 100%;
 }

.frame-2 button{
    margin-top: 15px;
}



.photos{
    height: 500px;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding :3rem;
}

.photos img{
    height:400px;
    width : 95%;
    border: 1ps solid radio;
}
.photos h1{
    margin-left:600px;
    text-decoration: 40%;  
    }
.photos a{
    margin-top:1rem;
    margin-left: 630px;
    text-align: center;
}

.reg{
    padding: 2rem;
    height: 180px;
    width: 100%;
    color :white;
    background-color: #3D8361;
    align-items: center;
}

.reg button{
    color:black;
    background-color: rgb(255, 192, 32);
    margin-left: 1000px;
    margin-top: -300px;
    width: 200px;
    border-radius: 1rem;
}

.reg h1{
    margin-top: 1rem;
    font-size: 2.5rem;
}

.reg p1{

    font-size: 1rem;
}


